*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
footer{
    background-color:black;
    color: white;
    height: 3.5em;
}
footer h6{
    text-align: center;
}
.f1{
    background-color:black;
    color: white;
    height: 3.5em;
    margin-top: 50px;
}